<h2 class="ml-5 pt-3">レシピ一覧</h2>

<div class="d-flex justify-content-center mt-5">
  <div>
    <% @recipes.each do |recipe| %>
        <%= render 'recipe_card', { recipe: recipe, edit: false }%>
    <% end %>
  </div>
</div>