<%= link_to "新規登録", new_home_path, class: "btn btn-primary" %>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">タンパク質</th>
      <th scope="col">炭水化物</th>
      <th scope="col">食物繊維</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>9/21</th>
    </tr>
    <tr>
      <th scope="row">朝食</th>
      <td>10 g</td>
      <td>20 g</td>
      <td>30 g</td>
    </tr>
    <tr>
      <th scope="row">昼食</th>
      <td>20 g</td>
      <td>30 g</td>
      <td>40 g</td>
    </tr>
    <tr>
      <th scope="row">晩ご飯</th>
      <td>40 g</td>
      <td>30 g</td>
      <td>10 g</td>
    </tr>
    <tr>
      <th scope="row">合計</th>
      <td>70 g</td>
      <td>80 g</td>
      <td>80 g</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th>9/22</th>
    </tr>
    <tr>
      <th scope="row">朝食</th>
      <td>10 g</td>
      <td>20 g</td>
      <td>30 g</td>
    </tr>
    <tr>
      <th scope="row">昼食</th>
      <td>20 g</td>
      <td>30 g</td>
      <td>40 g</td>
    </tr>
    <tr>
      <th scope="row">晩ご飯</th>
      <td>40 g</td>
      <td>30 g</td>
      <td>10 g</td>
    </tr>
    <tr>
      <th scope="row">合計</th>
      <td>70 g</td>
      <td>80 g</td>
      <td>80 g</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th>9/23</th>
    </tr>
    <tr>
      <th scope="row">朝食</th>
      <td>10 g</td>
      <td>20 g</td>
      <td>30 g</td>
    </tr>
    <tr>
      <th scope="row">昼食</th>
      <td>20 g</td>
      <td>30 g</td>
      <td>40 g</td>
    </tr>
    <tr>
      <th scope="row">晩ご飯</th>
      <td>40 g</td>
      <td>30 g</td>
      <td>10 g</td>
    </tr>
    <tr>
      <th scope="row">合計</th>
      <td>70 g</td>
      <td>80 g</td>
      <td>80 g</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th scope="row">週の合計</th>
      <td>210 g</td>
      <td>240 g</td>
      <td>240 g</td>
    </tr>
  </tbody>
</table>