<div>9/21 の朝食</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">タンパク質</th>
      <th scope="col">炭水化物</th>
      <th scope="col">食物繊維</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">目玉焼き</th>
      <td>10 g</td>
      <td>20 g</td>
      <td>30 g</td>
    </tr>
    <tr>
      <th scope="row">トースト</th>
      <td>20 g</td>
      <td>30 g</td>
      <td>40 g</td>
    </tr>
    <tr>
      <th scope="row">コーンスープ</th>
      <td>40 g</td>
      <td>30 g</td>
      <td>10 g</td>
    </tr>
    <tr>
      <th scope="row">合計</th>
      <td>70 g</td>
      <td>80 g</td>
      <td>80 g</td>
    </tr>
  </tbody>
</table>

<%= link_to "追加", new_home_path, class: "btn btn-primary" %>
